* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* ----------header---------- */
.helmet {
    display: flex;
    justify-content: space-between;
    background-color: #03037b;
    color: white;
    align-items: center;
}

.logo {
    width: 10%;
    border-radius: 50%;
}

.nav-bar {
    position: relative;
    width: 50%;
    height: 20%;
    margin-bottom: 3%;

}

.menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.click {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

/*------------------ main de ofertas----------------------------*/
.main-ofertas {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/* seccion 1 del main ofertas*/
.section1-ofertas {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(255, 242, 2, 1);
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

.div1 {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #E5E5E5;
    display: flex;
    flex-flow: column;
}

.div1 h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}

.div2 {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #FFEE32;
    display: flex;
    flex-flow: column;

}

.div2 h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}

/* seccion 2 del main ofertas*/
.section2-ofertas {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

/*posicionamineto del articulo 1*/
.art1 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(255, 242, 2, 1);
    display: flex;
    flex-flow: row;
}

.art1 img {
    width: 15%;
    height: 100%;
    border-radius: 10px;
}

.art1 h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}

.art1 input {
    width: 20%;
    height: 100%;
    color: #03037b;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.a_a1{
    width: 20%;
    height: 100%;
    color: #03037b;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.a_a1 input{
    width: 100%;
    height: 100%;
    color: #03037b;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}


.art1 select {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/*posicionamineto del articulo 2*/
.art2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(255, 242, 2, 1);
    display: flex;
    flex-flow: row;

}

.art2 h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}

.art2 img {
    width: 15%;
    height: 100%;
    border-radius: 10px;
}

.art2 input {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.a_a2{
    width: 20%;
    height: 100%;
    color: #03037b;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.a_a2 input{
    width: 100%;
    height: 100%;
    color: #03037b;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.art2 select {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/*posicionamineto del articulo 3*/
.art3 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(255, 242, 2, 1);
    display: flex;
    flex-flow: row;
}

.art3 h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}

.art3 img {
    width: 20%;
    height: 100%;
    border-radius: 10px;
}

.art3 input {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.a_a3{
    width: 20%;
    height: 100%;
    color: #03037b;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.a_a3 input{
    width: 100%;
    height: 100%;
    color: #03037b;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.art3 select {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

/*posicionamineto del articulo 4*/
.art4 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(255, 242, 2, 1);
    display: flex;
    flex-flow: row;
}

.art4 h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}

.art4 img {
    width: 15%;
    height: 100%;
    border-radius: 10px;
}

.art4 input {
    margin-top: 0%;
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.a_a4{
    width: 20%;
    height: 100%;
    color: #03037b;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.a_a4 input{
    width: 100%;
    height: 100%;
    color: #03037b;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.art4 select {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

/*posicionamineto del articulo 5*/
.art5 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(255, 242, 2, 1);
    display: flex;
    flex-flow: row;

}

.art5 h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}

.art5 img {
    width: 15%;
    height: 100%;
    border-radius: 10px;
}

.art5 input {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.a_a5{
    width: 20%;
    height: 100%;
    color: #03037b;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.a_a5 input{
    width: 100%;
    height: 100%;
    color: #03037b;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}


.art5 select {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

/*posicionamito del footer*/
footer {
    height: 40%;
    padding: 1%;
    background-color: #03037b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.textofooter {
    margin-left: 2%;
    width: 80%;
    font-size: 1rem;
    display: flex;
    text-align: center;
}

.imgfooter img {
    width: 40%;
}

@media (max-width:320px),
(max-height:480px) {
    .helmet {
        position: fixed;
        margin-bottom: 40%;

    }

    .click {
        opacity: 1;
    }

    #click {
        opacity: 0;
    }

    .nav-bar .menu-btn i {
        display: block;
        width: 50%;


    }

    .nav-bar {
        width: 10%;
    }

    .nav-bar ul {
        position: fixed;
        left: -100%;
        background: #111;
        height: 90vh;
        /* width: 80%; */
        text-align: center;
        display: block;
        flex-wrap: wrap;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    .nav-bar ul li {
        width: 100%;
        margin: 40px 0;
    }

    .nav-bar ul li a:hover {
        background: none;
        color: rgb(255, 0, 242);

    }

    .nav-bar ul li a {
        /* width: 100%; */
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;

    }

    .main-ofertas {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: 100%;
    }

    .section1-ofertas {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
    }

    .art1 {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;

    }

    .art1 img {
        width: 70%;
        height: 80%;

    }

    .art1 h3 {
        width: 100%;
        height: 100%;
        font-size: 2em;
    }

    .art1 input {
        width: 100%;
        height: 100%;
    }

    .art2 {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
    }

    .art2 img {
        width: 70%;
        height: 80%;

    }

    .art2 h3 {
        width: 100%;
        height: 100%;
        font-size: 2em;
    }

    .art2 input {
        width: 100%;
        height: 100%;
    }


    .art3 {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;

    }

    .art3 img {
        width: 70%;
        height: 80%;

    }

    .art3 h3 {
        width: 100%;
        height: 100%;
        font-size: 2em;
    }

    .art3 input {
        width: 100%;
        height: 100%;
    }

    .art4 {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;

    }

    .art4 img {
        width: 70%;
        height: 80%;

    }

    .art4 h3 {
        width: 100%;
        height: 100%;
        font-size: 2em;
    }

    .art4 input {
        width: 100%;
        height: 100%;
    }

    .art5 {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 20%;
    }

    .art5 img {
        width: 70%;
        height: 80%;

    }

    .art5 h3 {
        width: 100%;
        height: 100%;
        font-size: 2em;
    }

    .art5 input {
        width: 100%;
        height: 100%;
    }

    /*---------- -FOOTER MEDIA------------- */
    .footer {
        height: 40%;
        padding: 1%;


    }

    .textofooter {
        margin-left: 2%;
        width: 80%;
        font-size: 50%;
        display: flex;
        text-align: center;
    }

    .imgfooter img {
        width: 40%;
    }

    .main-registro {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

    }


    /* MEDIA REGISTRO*/
   .reg{
    position: fixed;
   }
    .main-registro{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; 
    }
    #registrate{
        margin-top: 15%;

    }
    .registro {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 90%;
        background-color: #fff20068;
        border: #fff20068 solid;
    }

    .registro h1 {
        font-size: 2em;
        text-align: center;
        width: 100%;
        height: 10%;
    }

    .registro input {
        width: 100%;
        height: 10%;
        margin-top: 1%;
        font-size: 1em;
        color: #000000;

    }

    .registro p {
        width: 100%;
        height: 10%;
        margin-top: 1%;
        font-size: 0.2em;
    }

    .registro label {
        width: fit-content;
        height: 10%;
        margin-top: 1%;
        color: #03037b;
        font-size: 0.5em;
        border: #fff20068 solid;
    }

    .registro select {
        width: 100%;
        height: 10%;
        margin-top: 1%;
    }






}

/* 

@media (max-width:768px),
(max-height:1024px) {
    .art1 {
        display: flex;
        flex-flow: column;
    }


    .art2 {
        display: flex;
        flex-flow: column;
    }

    .art3 {
        display: flex;
        flex-flow: column;
    }

    .art4 {
        display: flex;
        flex-flow: column;
    }

    .art5 {
        display: flex;
        flex-flow: column;
    }
}

@media (max-width:1144px),
(max-height:3144px) {} */




/* posicionamiento del regisdtro*/
.main-registro {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(255, 242, 2, 1);
    width: 100%;
    height: 100%;

}

.registro {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(255, 242, 2, 1);
    width: 100%;
    height: 100%;
}

.registro h1 {
    font-size: 2em;
    margin-bottom: 2%;
}

.registro input {
    width: 50%;
    height: 5%;
    margin-bottom: 2%;
}

.registro button {
    width: 50%;
    height: 5%;
    margin-bottom: 2%;
}

.registro a {
    font-size: 1.5em;
    margin-bottom: 2%;
}

.registro a:hover {
    color: #ff0000;
}

.registro p {
    font-size: 1.5em;
    margin-bottom: 2%;
}

.registro p:hover {
    color: #ff0000;
}

.registro label {
    font-size: 1.5em;
    margin-bottom: 2%;
}

.registro label:hover {
    color: #ff0000;
}

.registro select {
    width: 50%;
    height: 5%;
    margin-bottom: 2%;
}



/* Posicionamiento del log in*/
.sect_login {
    margin-inline: 20%;
    margin-block: 20%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 10px 0px rgba(255, 242, 2, 1);
    width: 50%;
    height: 100%;
}

.sect_login form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #03037b;
    border: 5% solid grey;
    border-radius: 10%;
    width: 94%;
    height: 100%;

}

.sect_login form h1 {
    font-size: 2em;
    margin-bottom: 2%;
    color: #03037b;

}

.sect_login form input {
    width: 50%;
    height: 5%;
    margin-bottom: 2%;
    box-shadow: 0px 0px 10px 0px rgba(255, 242, 2, 1);
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 1%;


}