* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* ----------header---------- */
header {
    display: flex;
    justify-content: space-between;
    background-color: #03037b;
    color: white;
    align-items: center;
}

.logo {
    width: 10%;
    border-radius: 50%;
}

nav {
    position: relative;
    width: 50%;
    height: 20%;
     margin-bottom: 3%;

}
.menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.click { 
    opacity: 0;
    position: absolute;
}
.menu1{
    text-decoration: none;
    color: white;
}


/*------primerasec------ */
.primerasect {
    margin-top: 3%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primerasect h1 {
    font-size: 2rem;
}

.botonprimero{
    color: #111;
    width: 50%;
    padding: 1%;
    background-color: aliceblue;
    box-sizing: content-box;
    text-align: center;
    text-decoration: none;

}

.botonprimero:hover {
    -webkit-transform: scale(1);
    transform: scale(0.9);
    box-shadow: 5px 5px 20px rgba(255, 183, 0, 0.574);
}

.titulocaja {
    margin-left: 5%;
}

.señor {
    width: 60%;

}

/* ------SEGUNDASECTION------------ */
.sectionlengse {
    display: flex;

    justify-content: space-evenly;
}

.sectionlengse img {
    width: 40%;
    height: 40%;
}

.textolegseña {
    width: 50%;
    padding: 2%;
    text-align: center;

}

#titulolenguasignos {
    border-left: 5px solid rgb(251, 255, 0);

}

.textolegseña h2 {
    font-size: 3rem;
}

/* ------cajas segunda section---- */
#textrprin2sec {
    font-size: 1.6rem;
    margin: 3%;
}

.cajasgen2sec {
    margin: 7%;
    display: flex;
    justify-content: space-evenly;
}

.cajasprin {
    border: 5px solid yellow;
    width: 20%;
    text-align: center;
    padding: 2%;
}

/* ---formlogin----- */
.formlogin {
    text-align: center;
    font-size: 1.3rem;
}

/* --------CAJAS TERCERA SECTION----------- */
.section3 {
    margin: 5%;
}

.cajagenprecio {
    display: flex;
    margin: 5%;
    justify-content: space-evenly;
}

.cajaprecio {
    border: 5px solid yellow;
    padding: 2%;
    font-size: 2rem;
   
}
.textocajaprecio{
    text-decoration: none;
    color: #111;
}

.titulocajaprecio {
    font-size: 1.4rem;
}
.sectmapa{
    align-items: center;
}
#mapa{
    width: 50%;
    border-radius: 20px;
    
}
/* ----------FOOTER----------- */
footer{
    height: 40%;
    padding: 1%;
    background-color: #03037b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.textofooter{
    margin-left: 2%;
    width: 80%;
    font-size: 1rem;
    display: flex;
    text-align: center;
}

.imgfooter img{
    width: 40%;
}
/* ----------MEDIA QUERY---------------------- */
/* -----nav responsive--------- */
@media (max-width: 320px),
(max-height: 480px) {
    header{
        position: fixed;
        margin-bottom: 40%;
    }
    .titulocaja{
        margin-top: 15%;
    }
    .click {
        opacity: 1;

    }
    #click{
        opacity: 0;
    }
    nav .menu-btn i {
        display: block;
        width: 50%;  
    }
    nav{
        width: 10%;
    }
    nav ul {
        position: fixed;
        left: -100%;
        background: #111;
        height: 90vh;
        /* width: 80%; */
        text-align: center;
        display: block;
        flex-wrap: wrap;
        transition: all 0.3s ease;
    }
    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a:hover{
      background: none;
      color: rgb(255, 0, 242);
    
    }
       nav ul li a {
        /* width: 100%; */
        color: white;
        text-decoration: none;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;

    }
   

    /* ´--------SECTION1 MEDIAQERY-------------------- */
    .primerasect {
        flex-wrap: wrap;
        margin: 1%;
        text-align: center;
        justify-content: center;

    }
    .botonprimero{
        font-size: 0.6rem;
        border-radius: 5%;
    }
    .primerasect img {
        width: 50%;    
    }
    .titulocaja h1{
        font-size: 1.3rem;
    }
    .botonprimero:hover {
        -webkit-transform: scale(1);
        transform: scale(0.9);
        box-shadow: 5px 5px 20px rgba(255, 183, 0, 0.574);
    }

    /* ---------------SEGUNDA SECTION MEDIA--------------- */
    .sectionlengse {
        display: flex;

    }
    .sectionlengse img{
         width: 60%;
    }
    #titulolenguasignos h2 {
        font-size: 60%;
    }

    #textograndeseña {
        font-size: 50%;
    }

    
     /*------ caja 2 parte- --------*/
     #textrprin2sec{
        font-size: 60%;
        width: 80%;
        text-align: center;
       
    }
    .cajasgen2sec{
       align-items: center;
        flex-direction: column;
        width: 80%;
        font-size: 50%;
        padding: 3%;

    }
    .cajasprin{

        width: 50%;
        margin-bottom: 4%;
    }
    .cajasprin h3{
        margin: 3%;
    }
    .formlogin{
        font-size: 60%;
        
    }
    .registro{
        background-color: rgb(255, 255, 0);
        padding: 1.5%;
        border: 0;
        font-size: 60%;
    }
    /*------------------ PART3 ------------------------------------- */
    .titulocajaprecio+p{
        font-size: 50%;
       

    }
    .cajagenprecio{
        align-items: center;
        flex-direction: column;
        width: 80%;
        font-size: 50%;
        padding: 3%;
        
    }
    .cajaprecio{
        width: 50%;
        font-size: 70%;
        margin-bottom: 4%;
        text-align: center;
       
    }
    .titulocajaprecio{
        font-size: 70%;
    }
    /*---------- -FOOTER MEDIA------------- */
    .footer{
        height: 20%;
        padding: 1%;
       
    }
    .textofooter{
        margin-left: 2%;
        width: 80%;
        font-size: 50%;
        display: flex;
        text-align: center;
    }
    
    .imgfooter img{
        width: 10%;
    }


}